/* Font face */
@import url('https://rsms.me/inter/inter.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: none;
}

body {
    background: #0a0a0a;
    color: #fdfdfd;
    font-family: "Inter";
    padding: 16px;
    text-align: center;
    cursor: none;
    overflow: hidden;
}

/* <hr> styles */
.fFHJKh {
    border: 4px solid #555;
    border-radius: 8px;
    width: 70%;
    margin-left: 15%;
    margin-top: 8px;
}

#cursor {
    background: linear-gradient(165deg, #fdfdfd, #aaa);
    border: 1px solid #0a0a0a;
    width: 24px;
    aspect-ratio: 1/1;
    position: absolute;
    transform: translate(-50% -50%);
    border-radius: 50%;
    cursor: none;
}

/* Navigation stylings */