/* Font face */
@import url('https://rsms.me/inter/inter.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #0a0a0a;
    color: #fdfdfd;
    font-family: "Inter";
    padding: 16px;
}

/* <hr> styles */
.fFHJKh {
    border: 4px solid #555;
    border-radius: 8px;
    width: 70%;
    margin-left: 15%;
    
}

/* Navigation stylings */